<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar navbar-dark indigo ">
    <a class="navbar-brand" href="/">
        <img src="/logo.png" height="40" class="logo-img"
        alt="logo">
    </a>
    <ul class="d-inline-block align-top">
        <li><a href="/user">Profile</a></li>
        <li><a href="/quizzes">Test Yourself</a></li>
    </ul>
</nav>

