<h2 class="profile">Welcome, <%= users[0].name || users[0].email %>.</h2>

<div class="options">
  
    <button >
      <i class="fas fa-user-edit"></i>
        <a href="/edit_user"></a>
        Edit Profile
    </button>

    <button>
      <a href="/heh">
        <i class="far fa-plus-square"></i>      
        Add Quiz
      </a>
    </button>

    <button>
      <a href="/quizzes">
        <i class="far fa-lightbulb"></i>      
        Take Quiz
      </a>
    </button>

</div>

<div class="userStats">
    <h4>You've completed 3 quizzes!</h4>
    <ul>
        <li>JavaScript Promises <br> 
            Score: 7/10
        </li>
          <br>
        <li>JavaScript Scope <br>
            Score: 9/10
        </li>
          <br>
        <li>JavaScript Function Binding <br>
            Score: 5/9
        </li>
    </ul>
</div>
 