<h2 class="profile">Welcome, <%= users[0].name || users[0].email %>.</h2>

<div class="options">
    <button>
      <i class="fas fa-user-edit"></i>
        Edit Profile
    </button>
    <button>
      <i class="far fa-plus-square"></i>
        Add Quiz
    </button>
    <button>
      <i class="far fa-lightbulb"></i>      
        Take Quiz
    </button>
</div>

