<div style="border:solid red; text-align: center; ">
    <h2 class="quizName"><%= quiz.name %></h2>
    <div style="border: dashed grey;">
        <h3>Difficulty: <%= quiz.difficulty %></h3>
        <h3>Question Count: <%= quiz.questionCount %></h3>
        <h4>On click, navigate to quiz page where all questions displayed.</h4>
    </div>
</div>