<div style="border:solid red;">
    <h1><button id="quizButton"><%= quiz.name %></button></h1>
    <div>
        <h2>Difficulty: <%= quiz.difficulty %></h2>
        <h2>Question Count: <%= quiz.questionCount %></h2>
        <h3>On click, navigate to quiz page where all questions displayed.</h3>
    </div>
</div>