<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brain Juice</title>
        <link rel="stylesheet" href="/styles/style.css">  
</head>
<body>
    <%- include('partials/navbar') %>

    <img src="/no_touching.gif" alt="Flowers in Chania" style="padding-top: 50px;">
    
    <h2>Oops, that feature isn't available in your area yet.</h2>
                                                    
</body>
</html> 