<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brain Juice</title>
        <link rel="stylesheet" href="/styles/style.css">  
</head>
<body>

    <%- include('partials/navbar') %>
    <h1>Imposterism Prevention</h1>
    <h3>For when you know you're not incompetent but might just feel that way.</h3>
                                                    
</body>
</html> 