<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brain Juice</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/style.css">  
    </head>
    <body>
    <%- include('partials/navbar') %>
<div class="showcase">
    
    <!-- <h2>Imposterism Prevention</h2> -->
    <img class="showcase" src="/sloth.jpg" alt="Sloth, Matthijs Hollanders">
    <h3>For when you know you're not incompetent but might just feel that way.</h3>

</div>
                                                    
</body>
</html> 