<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brain Juice</title>
        <link rel="stylesheet" href="/styles/style.css">
        <link rel="stylesheet" href="/styles/quiz.css">

    </head>
    <body>

    <%- include('../partials/navbar') %>
    <h1><%= quiz.name %></h1>


    <div id="quiz">
        <%- include('../partials/questions') %>
    </div>

    <div id="results">
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
    <script src="/quizzes.js"></script>
    </body>
</html> 