<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Brain Juice</title>
        <link rel="stylesheet" href="/styles/style.css">
    </head>
    <body>

    <%- include('../partials/navbar') %>

    <h1><%= quiz.name %></h1>


    <div class="quiz_content" style="display: flex; flex-direction: column; border: solid red; max-width: 80%;">
        <%- include('../partials/questions') %>
    </div>


    <script src="/quizzes.js"></script>
    </body>
</html> 