* {
    background-color: #F4F4FE;
    overflow-wrap: break-word;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.main-content {
  display: flex;
  text-align: center
}

a {
  text-decoration: none;
  color: rgb(75, 57, 99);
}

/********************** NAVBAR STYLING **********************/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid black; */
    margin: 0;
    /* overflow:hidden; */
    width: 100%;
    background-color: rgb(178, 178, 224)
  }
  
  nav ul {
    padding: 0;
    background-color: rgb(178, 178, 224)
  }
  
  nav ul li{
    display: inline-block;
    background-color: rgb(178, 178, 224)
  }
  
  nav > ul > li > a:hover {
    color: #51685b;
    text-decoration: none;
  }
  
  nav > ul > li > a {
    color: #1f2421;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: rgb(178, 178, 224)
  }

  .logo-img{
    position: relative;
    background-color: rgb(178, 178, 224);
    padding-left: 10px;
  }
  
 /* ****************** LOGIN BOX ****************** */
  .login-box{
    position:relative;
    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
  }
  .lb-header{
    position:relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom:10px;
    border-bottom: 1px solid #eee;
    text-align:center;
    height:28px;
    background-color: white;
  }
  .lb-header a{
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .lb-header .active {
    color: rgb(178, 178, 224);
    font-size: 18px;
  }
  .social-login {
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
    background-color: white;
  }
  .social-login a {
    position:relative;
    float: left;
    width:calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align:center;
  }
  .social-login a i {
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
  }
  .social-login a:first-child,
  .social-login a:first-child i{
    background-color: #49639F;
  }
  .social-login a:last-child,
  .social-login a:last-child i {
    background-color: #DF4A32;
  }
  .email-login,
  .email-signup{
    position:relative;
    float: left;
    width: 100%;
    height:auto;
    margin-top: 20px;
    text-align:center;
    background-color: white;
  }
  .u-form-group{
    width:100%;
    margin-bottom: 10px;
    background-color: white;
  }
  .u-form-group input[type="text"],  
  .u-form-group input[type="email"],
  .u-form-group input[type="password"]{
    width: calc(50% - 22px);
    height:45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size:0.8rem;
    -webkit-transition:all 0.1s linear;
    -moz-transition:all 0.1s linear;
    transition:all 0.1s linear;
  }
  .u-form-group input:focus {
    border: solid 3px  rgb(178, 178, 224);
  }
  .u-form-group button{
    width:50%;
    background-color: rgb(44, 143, 75);
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .u-form-group button:hover {
    background-color: rgb(48, 107, 67);
  }
  .forgot-password{
    width:50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
  }

/****************** PROFILE PAGE ******************/
.profile {
  text-align: left;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

 

